<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <script src="js/script.js" defer></script>
</head>
<body>
  <h1>Admin Page</h1>
  <h2>Users</h2>
  <table border="1" id="users-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </table>
  <h2>Companies</h2>
  <table border="1" id="companies-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </table>
  <h2>Classes</h2>
  <table border="1" id="classes-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </table>
  
</body>
</html>
